
li {
  list-style: none;
}

.menu-icon {
  width: 100vw;
  display: flex;
  height: 65px;
  background-color: rgba(0, 0, 0, .8);
}

// .menu-icon #menu-icon {
//   width: 50px;
//   height: 40px;
//   margin-right: 10px;
//   align-self: center;
// }

.menu-icon {
  justify-content: space-between;
}

.menu-icon img {
    margin: 2px 10px;
    width: 40px;
    height: 35px;
    align-self: center;
}



@media #{$small-width} {
  .navbar {
    display: none;
  }
}

@media #{$medium-width} {
  #menu-icon {
    display: none;
  }
  #note {
    display: none;
  }
}

@media #{$large-width} {
  #menu-icon {
    display: none;
  }
  #note {
    display: none;
  }
}
