*, *:before, *:after {
  margin: 0;
  padding:0;
  box-sizing: border-box;
}

body {
  display: flex;
  background-color: #f1f2f3;
  font-family: sans-serif;
  flex-wrap: wrap;
  // background-image: linear-gradient(to top, grey, white);
  background-repeat: no-repeat;
  background-size: cover;

}
