.music-form {
  width: 100vw;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin: 20px 25px;
}

.music-form input {
  margin: 10px;
  justify-content: baseline;
}

.main-square {
  width: 100vw;
  display: flex;
  justify-content: center;
  background-size: contain;
  align-items: center;
  flex-wrap: wrap;
}

.main-square img {
  width: 75%;
}

.main-square {
  margin-top: 20px;
  justify-content: center;
}

ul li {
  width: 100vw;
  height: auto;
  img {
    width: 100%;
  }
}

@media #{$small-width} {
  .music-form {
    flex-direction: column;
    & #form-submit {
      width: 100px;
      margin-top: 10px;
    }
  }
}

.title-text {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.gallery h3 {
  text-align: center;
}
@media #{$small-width} {
  .gallery li {

  }
}

@media #{$small-width} {
  .gallery h3 {
    flex-basis: 50%;
  }
}
